[Desktop Entry]
Name=Cyberpunk Wallpaper Selector
Comment=Selector de wallpapers con temas cyberpunk
Exec=python3 /home/gzkdeath/wallpaper-selector/wallpaper-selector.py
Icon=preferences-desktop-wallpaper
Type=Application
Terminal=false
Categories=Settings;DesktopSettings;
Keywords=wallpaper;background;theme;cyberpunk;
